/Timing/dist/
/Timing/build/
/Accelerometer/build/
/Accelerometer/dist/
/JavaTiming/target/
/HelloWorld/target/
/Pathfinder/target/
/SPIArduino/dist/
/SPIArduino/build/
/I2CArduino/build/
/I2CArduino/dist/
/SaveTheDate/nbproject/private/
/CFirstNetbeansTest/dist/
/CFirstNetbeansTest/build/
/TCPServer/target/
/TCPClient/target/
/Pathfinder-API/target/
/Pathfinder-Client/target/