.grid-standard {
    -fx-hgap: 2px;
    -fx-vgap: 10px;
}
.grid-big {
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}
.vbox-shot .grid-standard{
    -fx-hgap: 20px;
    -fx-vgap: 5px;
}
.vbox-shooting .grid-standard{
    -fx-hgap: 20px;
    -fx-vgap: 5px;
}

.root {

    -rgba-primary-0:rgba( 50, 66, 62,1);	/* Main Primary color */
    -rgba-primary-1:rgba(  6, 58, 45,1);
    -rgba-primary-2:rgba( 29, 59, 52,1);
    -rgba-primary-3:rgba( 78, 90, 87,1);
    -rgba-primary-4:rgba(111,117,116,1);

    -rgba-secondary-1-0:rgba( 52, 58, 67,1);	/* Main Secondary color (1) */
    -rgba-secondary-1-1:rgba( 11, 32, 59,1);
    -rgba-secondary-1-2:rgba( 31, 44, 60,1);
    -rgba-secondary-1-3:rgba( 80, 85, 91,1);
    -rgba-secondary-1-4:rgba(113,115,118,1);

    -rgba-secondary-2-0:rgba( 73, 87, 66,1);	/* Main Secondary color (2) */
    -rgba-secondary-2-1:rgba( 29, 77,  8,1);
    -rgba-secondary-2-2:rgba( 50, 79, 38,1);
    -rgba-secondary-2-3:rgba(108,120,104,1);
    -rgba-secondary-2-4:rgba(149,155,147,1);

    -fx-background-color: -rgba-secondary-1-1;
    -fx-color: -rgba-secondary-1-1;
    -fx-font-size: 16px;
    -fx-focus-color: transparent; 
    -fx-faint-focus-color: transparent;
}
.table-row-cell {
    -fx-background-color: -rgba-secondary-1-1;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.text {
    -fx-fill: -rgba-secondary-1-4;
}
.text-input {
    -fx-background-color: -rgba-secondary-1-2;
    -fx-text-fill: -rgba-secondary-1-4;
    -fx-highlight-fill: -rgba-primary-2;
    -fx-highlight-text-fill:-rgba-primary-4;
    -fx-prompt-text-fill: -rgba-primary-4;
}
.check-box:hover .mark {
    -fx-color: -rgba-secondary-1-2;
}
.check-box:armed .mark {
    -fx-color: -rgba-secondary-1-2;
}
.check-box:hover .box {
    -fx-color: -rgba-secondary-1-2;
}
.check-box:armed .box {
    -fx-color: -rgba-secondary-1-2;
}
.combo-box-popup .list-view{
    -fx-background-color: -rgba-secondary-1-1;
    -fx-text-fill: -rgba-secondary-1-4;
}
.combo-box-popup .list-cell{
    -fx-background-color: -rgba-secondary-1-1;
    -fx-text-fill: -rgba-secondary-1-4;
}
.combo-box-popup .list-view .list-cell{
    -fx-background-color: -rgba-secondary-1-1;
    -fx-text-fill: -rgba-secondary-1-4;
}
.combo-box > .list-cell {
    -fx-background-color: red;
}
.combo-box > .list-cell:hover {
    -fx-background-color: blue;
}
.combo-box > .list-cell:selected:hover {
    -fx-background-color: green;
}
.combo-box > .list-cell:filled:hover {
    -fx-background-color: yellow;
}
.combo-box > .list-cell:filled:selected:hover {
    -fx-background-color: brown;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: -rgba-secondary-1-2;
    -fx-text-fill: -rgba-secondary-1-4;
}
.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: -rgba-secondary-1-2;
    -fx-text-fill: -rgba-secondary-1-4;
}